body {
  font-family: Arial, sans-serif;
  background-color: #232830;
}

header {
  background-color: #232830;
  color: #fff;
  padding: 20px;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 10px 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
}
nav ul li a:hover {
  color: #909090;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 850px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.fa-arrow-left {
  font-size: 16px;
  color: rgb(203 213 225);
  background-color: #94a3b81a;
  padding-left: 0.875rem;
  padding-right: 0.875rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  text-align: center;
  opacity: 0.9;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 14px;
  padding: 20px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 750px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.header {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.categories {
  gap: 0.5rem;
  display: flex;
  margin: 0;
}

.category {
  display: inline-block;
  height: 24px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgb(203 213 225);
  background-color: #94a3b81a;
  border-radius: 20px;
  padding-left: 0.875rem;
  padding-right: 0.875rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  text-align: center;
  opacity: 0.9;
  cursor: pointer;
  border: 0 solid #e5e7eb;
}

.category:hover {
  background-color: #94a3b84f;
}

h1 {
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 800;
  color: #ffffff;
}

h2 {
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 400;
  line-height: 85px;
  color: #FFFFFF;
}

h3 {
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 400;
  line-height: 85px;
  color: #FFFFFF;
}

p {
  font-family: 'Poppins';
  font-style: normal;
  font-size: 16px;
  color: #d4d4d4;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

blockquote {
  border-left-color: rgb(115, 115, 115);
  border-left-style: solid;
  border-left-width: 8px;
  box-sizing: border-box;
  color: rgb(115, 115, 115);
  display: block;
  font-family: 'Poppins';
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-block-end: 25.6px;
  margin-block-start: 0px;
  margin-bottom: 25.6px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-left: 16px;
  text-size-adjust: 100%;
}

.text-blockquote {
  font-family: 'Recursive';
  font-style: italic;
  color: rgb(115, 115, 115);
}

.list {
  font-family: 'Poppins';
  font-style: normal;
  list-style-type: disc;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-left: 1.625em;
  color: #d4d4d4;
}

.date {
  font-family: 'Poppins';
  font-style: normal;
  font-size: 12px;
}

.code-toolbar {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  background-color: #f5f5f5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  position: relative;
}

.code-toolbar pre {
  margin: 0;
}

.code-toolbar pre code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 14px;
}

.code-toolbar pre ol {
  counter-reset: line;
  list-style: none;
  padding: 0;
  margin: 0;
}

.code-toolbar pre li {
  counter-increment: line;
  padding-left: 20px;
  position: relative;
}

.code-toolbar pre li:before {
  content: attr(data-prefix);
  position: absolute;
  left: 0;
  color: #999;
  margin: 0 10px 0 5px;
  text-align: right;
  user-select: none;
  -webkit-user-select: none;
  
}

.toolbar {
  position: absolute;
  right: 0.2em;
  top: 0.3em;
}

.toolbar-item {
  display: inline-block;
  height: 24px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #0F1217;
  background-color: #FF7575;
  border-radius: 20px;
  padding-left: 0.875rem;
  padding-right: 0.875rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  text-align: center;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin: 0.1em;
  padding: 0.1em 8px;
  position: absolute;
  top: 15px;
  right: 5px;
}

.toolbar-item button {
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  color: #0F1217;
  cursor: pointer;
}

.toolbar-item button:hover {
  color: #FFFFFF;
}

pre {
  white-space: normal;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 725px;
}

code {
  font-size: 14px;
  background-color: #f5f5f5;
  color: #24335a;
  border-radius: 22px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
  padding: 3px;
}

.code-label {
  background-color: #d6dcea;
  border-radius: 16px 16px 0 0;
  color: #24335a;
  display: block;
  font-size: 14px;
  margin: 1em 0 0;
  padding: 0.5em 1em;
  position: relative;
  text-align: center;
  z-index: 2;
}

.code-example {
  background: #f5f5f5;
    color: #24335a;
    border-radius: 16px;
    display: block;
    margin: 1em 0;
    overflow: auto;
    overflow-wrap: normal;
    padding: 1em;
    white-space: normal;
    word-wrap: normal;
    border-radius: 0 0 16px 16px;
    margin: 0 0 1em;
}

.example {
  background: 0;
    border-radius: 0;
    color: inherit;
    padding: 0;
    white-space: pre;
    font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
}

.author {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 38px;
  /* identical to box height */
  color: #FFFFFF;
}

.fab {
  font-size: 23px;
  color: #FFFFFF;
  margin-right: 10px;
  transition: color 0.3s ease-in-out;
}

.fa-github:hover {
  font-size: 23px;
  color: #909090;
  animation: blink 3s infinite;
  -webkit-animation: blink 3s infinite;
}

.fab:hover {
  font-size: 23px;
  color: #909090;
  animation: blink 3s infinite;
  -webkit-animation: blink 3s infinite;
}

footer {
  background-color: #232830;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}